body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

/* buttons */
.btns-wrapper {
    display: grid;
    width: fit-content;
    margin: 0 auto;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 2px 0;
    transition: 100ms;
}

button:hover {
    transform: scale(1.1);
}

/* cards styling*/

#cards-el {
    padding: 0;
    display: flex;
    width: 400px;
    justify-content: center;
    gap: 2em;
    list-style: none;
    margin: 0 auto;

    
}
#cards-el > li {
    position: relative;
    width: 60px;
    height: 90px;
    background: #fff;
    border-radius: 3px;
    transition: 100ms;
}

#cards-el > li:hover {
    transform: scale(1.1);
}

.card_content {
    height: min-content;
    position: absolute;
}

.top {
    left: 2px;
    top: 2px
}

.bottom {
    right: 2px;
    bottom: 2px
}

.card_content > p {
    margin: 0;
}

.card_content i {
    font-size: 10px;
}

#cards-el > .C {
    color: red;
}
#cards-el > .O {
    color: red;
}
#cards-el > .E {
    color: black;
}

#cards-el > .P {
    color: black;
}